/* Remove chrome blue outline */
*:focus {
    outline: none !important;
}

#info-container {
    display: none;
}

.ast-component {
    padding-bottom: 2px;
    padding-top: 2px;
}

.ast-component-semi-active {
    text-decoration: underline;
}

.ast-component-active {
    background-color: #bcd4e4;
}

.CodeMirror {
    border: solid 1px #dcdcdc;
}