<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/static/js/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/lib/tree.jquery.js"></script>
    <link rel="stylesheet" href="/static/css/lib/codemirror.css">
    <link rel="stylesheet" href="/static/css/lib/jqtree.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="content-container" class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Parse Online</a>
          </div>
          <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav pages">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="editor-container" class="jumbotron">
        <div class="row">
          <form action="/parse" method="GET" id="editor-form">
          {% if not default_page %}
            <div id="tree" class="col-md-4"></div>
            <textarea id="editor" class="editor col-md-8" name="source">{{source}}</textarea>
          {% else %}
            <div id="editor-run" class="editor-control button">Parse</div>
            <textarea id="editor" class="editor col-md-12" name="source">{{source}}</textarea>
          {% endif %}
          </form>
        </div>
      </div>
      <div id="info-container" class="jumbotron">
        <div class="row">
          <div id="tree" class="col-md-12">
            <h2>Declaration</h2>
            <p>Declarations introduce (or re-introduce) names into the C++ program. Each kind of entity is declared differently. Definitions are declarations that are sufficient to use the entity identified by the name.</p>
          </div>
        </div>
      </div>
    </div>
    <script>
     function traverse(obj, callback) {
       for (i in obj) {
         if (typeof(obj[i])=="object") {
           callback(obj[i]);
           if (obj[i].children.length)
             traverse(obj[i].children, callback);
         }
       }
     }

     $(document).ready(
       function(){
         editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
           styleActiveLine: true,
           lineNumbers: true,
         });

         $("#editor-run").click(function(){
           $("#editor-form").submit();
         });

         data = {{parsed | safe}};

         traverse(data.ast, function(obj){
           if (!obj.location) return;
           editor.markText({line:obj.location.start[0]-1,
                            ch:obj.location.start[1]-1},
                           {line:obj.location.end[0]-1,
                            ch:obj.location.end[1]},
                           {className:"ast-component ast-component-" + obj.id});
         });

         $('#tree').tree({
           data: data.ast,
           onCreateLi: function(node, $li) {
             $li.find('div:has(span.jqtree_common)')
                .hover(function(event){
                  $(".ast-component").removeClass("ast-component-semi-active");
                  $(".ast-component-" + node.id).addClass("ast-component-semi-active")
                  event.stopPropagation();
                }, function(event){
                  $(".ast-component").removeClass("ast-component-semi-active");
                  event.stopPropagation();
                });
           }
         });

         $('#tree').bind('tree.select',
           function(event) {
             if (event.node) {
               var node = event.node;
               $(".ast-component").removeClass("ast-component-active");
               $(".ast-component-" + node.id).addClass("ast-component-active");
               $("#info-container").show();
             }
             else {
               var node = event.previous_node;
               $(".ast-component-" + node.id).removeClass("ast-component-active");
               $("#info-container").hide();
             }
           }
         );
       });
    </script>
  </body>
</html>
