<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/static/js/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/lib/tree.jquery.js"></script>
    <link rel="stylesheet" href="/static/css/lib/codemirror.css">
    <link rel="stylesheet" href="/static/css/lib/jqtree.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="content-container" class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Parse Online</a>
          </div>
          <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav pages">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="editor-container" class="jumbotron">
        <div class="row">
          <form action="/parse" method="GET" id="editor-form">
          {% if not default_page %}
            <div id="tree" class="col-md-4"></div>
            <textarea id="editor" class="editor col-md-8" name="source">{{source}}</textarea>
          {% else %}
            <div id="editor-run" class="editor-control button">Parse</div>
            <textarea id="editor" class="editor col-md-12" name="source">{{source}}</textarea>
          {% endif %}
          </form>
        </div>
      </div>
      <div id="info-container" class="jumbotron">
        <div class="row">
          <div id="tree" class="col-md-12">
            <h2 class="title"></h2>
            <p class="description"></p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
     function traverse(obj, callback) {
       for (i in obj) {
         if (typeof(obj[i])=="object") {
           var result = callback(obj[i]);
           if (result)
             return result;
           if (obj[i].children.length)
             traverse(obj[i].children, callback);
         }
       }
     }

     function fillInfoContainer(container, node) {
       var name = node["name"] || "";
       container.find(".title").html(name);
       container.find(".description").html(node["description"] || "");
     }

     function selectTreeNode(node) {
       $(".ast-component").removeClass("ast-component-active");
       $(".ast-component-" + node.id).addClass("ast-component-active");
       fillInfoContainer($("#info-container"), node);
       $("#info-container").show();
       parent.location.hash = node.id;
     }

     function deselectTreeNode(node) {
       $(".ast-component-" + node.id).removeClass("ast-component-active");
       $("#info-container").hide();
       parent.location.hash = "";
     }

     $(document).ready(
       function (){
         editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
           styleActiveLine: true,
           lineNumbers: true,
         });

         $("#editor-run").click(function(){
           $("#editor-form").submit();
         });

         data = {{parsed | safe}};

         traverse(data.ast, function(obj){
           if (!obj.location) return;

           if (obj.label && obj.spelling) {
             obj.label += " (" + obj.spelling + ")";
           }

           editor.markText({line:obj.location.start[0]-1,
                            ch:obj.location.start[1]-1},
                           {line:obj.location.end[0]-1,
                            ch:obj.location.end[1]},
                           {className:"ast-component ast-component-" + obj.id});
         });

         $('#tree').tree({
           data: data.ast,
           onCreateLi: function(node, $li) {
             $li.find('div:has(span.jqtree_common)')
                .hover(function(event){
                  $(".ast-component").removeClass("ast-component-semi-active");
                  $(".ast-component-" + node.id).addClass("ast-component-semi-active")
                  event.stopPropagation();
                }, function(event){
                  $(".ast-component").removeClass("ast-component-semi-active");
                  event.stopPropagation();
                });
           }
         });

         $('#tree').bind('tree.select',
           function(event) {
             if (event.node) {
               selectTreeNode(event.node);
             }
             else {
               deselectTreeNode(event.previous_node);
             }
           }
         );


         var idFromURL = parseInt(parent.location.hash.replace("#", ""));
         var node = $("#tree").tree('getNodeById', idFromURL);
         $("#tree").tree('selectNode', node);
       });
    </script>
  </body>
</html>
